@import '../../../App.scss';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  width: 480px;
  height: auto;
  z-index: 1000;
  border-radius: 24px;
  padding: 48px;
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .16);
  z-index: 1000;
}

@media screen and (max-width: 800px) {
  .modal {
    width: 80%
  }
}