@import '../../../App.scss';

.btnContainer {
  background: inherit;
  display: flex;
}

.loginButton {
  height: 44px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 16px;
  margin-bottom: 10px;
  background-color: $black;
}

.signupButton {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  height: 44px;
}

.formTitle {
  text-align: center;
}

.buttonLogin {
  height: 56px;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 15px 0 30px;
}

.createText {
  margin-top: 5px;
  text-align: center;
  display: block;
  padding-bottom: 15px;
}

.spanText {
  color: red;
  display: inline;
}

.backButton {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  padding-bottom: 22px;
  background: none;
  vertical-align: text-top;
  border: none;
  text-decoration: underline 0.5px rgba(20, 21, 26, 1);
  position: relative;
  cursor: pointer;

  &::before {
    content: url(src/assets/icons/chevron-left-icon.svg);
    vertical-align: middle;
    position: relative;
  }
}

@media screen and (max-width: 800px) {
  .buttonLogin {
    width: 100%;
  }
}