@import '../../../App.scss';

.btnContainer {
  background: inherit;
  display: flex;
}

.loginButton {
  height: 44px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 16px;
  margin-bottom: 10px;
  background-color: $black;
}

.signupButton {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  height: 44px;
}

.closeText {
  margin-left: 5px;
  line-height: 28px;
  font-size: 18px;
}

.formTitle {
  text-align: center;
}

.buttonLogin {
  height: 56px;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 15px 0 30px;
}

.createText {
  margin-top: 5px;
  text-align: center;
  display: block;
  padding-bottom: 15px;
}

.spanText {
  color: red;
  display: inline;
}

@media screen and (max-width: 800px) {
  .buttonLogin {
    width: 100%;
  }
}