.landingMain {
  min-width: 414px;
}

.bannerMission {
  background: #EBF1F4;
  width: 100%;
  //height: 120px;
  height: auto;
}

.bannerMissionText {
  padding-top: 42px;
  padding-bottom: 42px;
  font-family: Metropolis, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  color: #14151A;
}

.bannerMissionSmart {
  font-family: Metropolis, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  color: #4CC3FF;
}