@import '../../../App.scss';

.newsContainer {
  margin-top: 20px;
  height: 100%;
  overflow-y: hidden;

}

.container {
  display: flex;
  padding-bottom: 24px;
}

.subContainer {
  margin-left: 6px;
}

.title {
  font-weight: 600;
}

.date {
  color: $medium-gray-2;
  font-weight: 500;
}