@import '../../../../App.scss';

.main {
  height: 100%;
  padding-left: 47px;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}

.topButtonsBlock {
  height: 64vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonSelect {
  height: 56px;
  &:disabled {
    cursor: not-allowed;
  }
  @media (max-width: 575px) {
    width: 90%;
  }
}

.buttonSelectActive {
  height: 56px;
  border: 3px solid $brand-black;
  @media (max-width: 575px) {
    width: 90%;
  }
}

.buttonText {
  cursor: pointer;
}

.bottomButtonsBlock {
  width: 100%;
  display: flex;
  padding-right: 200px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  & button {
    flex: 1;
  }

  @media (max-width: 1010px) {
    width: 88%;
    padding-right: 10px;
  }
}

.buttonBack {
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border-width: 1.5px;
}

.buttonFinished {
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
