@import '../../../App.scss';

.mainBlock {
  padding-left: 47px;
  @media (max-width: 900px) {
    flex: 2;
    margin-left: 12vh;
  }
  @media (max-width: 750px) {
    flex: 2;
    margin-left: 8vh;
  }
  @media (max-width: 640px) {
    flex: 2;
    margin-left: 4vh;
  }
}

.title {
  display: block;
}

.buttonBlock {
  width: 100%;
  padding-top: 48px;
  color: rgba(50, 54, 66, 1);

  .inputError {
    border-color: red;
    box-shadow: 0 0 8px 0 rgba(243, 24, 16, 0.562);
  }
}

.btnError {
  display: none;
}

.buttonSelect {
  height: 56px;
  @media (max-width: 575px) {
    width: 90%;
  }
}

.buttonSelectActive {
  height: 56px;
  border: 3px solid $brand-black;
  @media (max-width: 575px) {
    width: 90%;
  }
}

.buttonDisabled {
  height: 56px;
  margin: 14px 0 24px 0;
  cursor: not-allowed;
  @media (max-width: 575px) {
    width: 90%;
  }
}

.buttonContinue {
  height: 44px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  @media (max-width: 575px) {
    width: 90%;
  }
}

.btnParagraph {
  margin-top: 24px;
  color: $darker-gray;
  width: 384px;
  padding-bottom: 26vh;

  @media (max-height: 900px) {
    padding-bottom: 15vh;
  }
  @media (max-width: 600px) {
    width: 90%;
  }
}