@import '../../App.scss';

.main {
  background-color: $blue-gray;
  height: 100vh;
  min-height: 750px;
}

.headerElement {
  text-align: center;
  padding-bottom: 48px;
}

.paragraphElement {
  color: $darker-gray;
  padding-bottom: 15px;
}

.secondParagraph {
  color: $darker-gray;
  padding-bottom: 64px;
}

.mainButton {
  height: 44px;
  font-weight: 600;
}

