@import '../../../App.scss';

.mainCard {
  width: 384px;
  height: 480px;
  border-radius: 24px;
  background: $white;
  padding: 36px 32px 32px;
}

.cardDescription {
  margin-top: 8px;
  width: 323px;
  height: 72px;
  color: $darker-gray;
  padding-bottom: 20px;
}

.cardListContainer {
  height: 200px;
}

.cardList {
  padding-left: 20px;
  padding-top: 20px;
  list-style-image: url('../../../assets/icons/dotForList.png');
}

.cardListElement {
  padding: 0 0 12px 24px;
}

.cardButton {
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 63px;
  margin-top: 40px;
}