@import '../../../App.scss';

.mainCard {
  width: 384px;
  height: 480px;
  border-radius: 24px;
  background: $white;
  padding: 36px 32px 32px;
}

.cardDescription {
  margin-top: 8px;
  width: 324px;
  height: 72px;
  color: $darker-gray;
  padding-bottom: 20px;
}

.cardListContainer {
  height: 200px;
}

.cardList {
  padding-left: 20px;
  padding-top: 20px;
  list-style-image: url('../../../assets/icons/dotForList.png');
}

.cardListElement {
  padding: 0 20px 12px 24px;
}

.cardButton {
  display: flex;
  width: 184px;
  padding: 16px 17px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: $brand-black;
  color: $white;
  text-align: center;
  font-family: Metropolis, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 63px;
  cursor: pointer;
  margin-top: 40px;
}