@import '../../../App.scss';

.container {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 750px;
  position: relative;
  overflow-y: hidden;
}

.inner {
  height: 100%;
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 38px 100px 100px;
  box-sizing: border-box;
  @media (max-width: 600px) {
    padding: 38px 0 100px 40px;
  }
  @media (max-width: 420px) {
    padding: 38px 0 100px 59px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  min-height: 60px;
}

.headerText {
  display: flex;
  align-items: baseline;
  gap: 16px;
  @media (max-width: 600px) {
    margin-left: 60px;
  }
}

.headerAdornment {
  color: $darker-gray;
}