@import '../../../App.scss';

.container{
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.inner{
  height: 100%;
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 150px 100px;
  box-sizing: border-box;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  min-height: 60px;
}

.headerText{
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.headerAdornment{
  color: $darker-gray;
}

.main{
  background-color: $white;
  border-radius: 16px;
  flex: 1;
  text-align: center;
}