.select-container {
  position: relative;
  & .select {
    &__control {
      border: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 2px solid rgba(171, 178, 194, 1);
      &:hover {
        border-color: rgba(20, 21, 26, 1);
      }
      &--menu-is-open {
        box-shadow: none;
        border-color: rgba(20, 21, 26, 1);
        & .select__indicators {
          & .select__dropdown-indicator {
            transform: rotate(180deg);
          }
        }
      }
      &--menu-is-open:hover {
        border-color: rgba(20, 21, 26, 1);
      }
    }
    &__dropdown-indicator{
      transition: all 0.2s ease-out;
    }
    &__value-container {
      padding: 0;
      cursor: pointer;
    }
    &__indicator-separator {
      display: none;
    }
    &__dropdown-indicator {
      cursor: pointer;
    }
    &__menu-list {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__option {
      font-family: 'Metropolis', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      &--is-focused {
        background-color: rgba(245, 246, 250, 1);
      }
      &--is-selected {
        background-color: rgb(165, 165, 165);
      }
      &:active {
        background-color: rgb(209, 209, 209);
      }
    }
    &__placeholder{
      font-family: 'Metropolis', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    &__single-value{
      font-family: 'Metropolis', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

// .select {
//   [class$="-control"] {
//     background-color: transparent;
//     border-radius: 0;
//     border-width: 0;
//     border-bottom: 2px solid rgba(171, 178, 194, 1);
//   }
//   [class$="-indicatorSeparator"]{
//     display: none;
//   }
// }
