@import '../../../App.scss';

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px 15px 0 15px;
  background: $blue-gray;
  min-height: 622px;
  @media (max-width: 600px) {
    padding: 10px 15px 30px;
  }
}

.headerButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-right: 10px;
  @media (max-width: 600px) {
    padding-bottom: 10px;
  }
}

.headerButton {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  height: 44px;
}

.buttonSignUp {
  height: 44px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.verificationBlock {
  max-width: 1184px;
  height: 80vh;
  min-height: 490px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: 0 0 4px -1px rgba(34, 60, 80, 0.2);
  @media (max-width: 768px) {
    flex-direction: column;
    max-height: none;
  }
}

.sideSection {
  max-width: 372px;
  border-right: 1px solid rgba(225, 229, 237, 1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 22px 35px 0px 20px;
  @media (max-width: 920px) {
    padding: 22px 28px 0px 15px;
  }
  @media (max-width: 768px) {
    max-width: none;
    padding: 22px 28px 0px 20px;
  }
  @media (max-width: 600px) {
    border: none;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 0;
  }
}

.sideSectionText {
  padding-left: 29px;
  @media (max-width: 600px) {
    padding: 0;
  }
}

.backButton {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 22px;
  background: none;
  vertical-align: text-top;
  border: none;
  text-decoration: underline 0.5px rgba(20, 21, 26, 1);
  position: relative;
  cursor: pointer;

  &::before {
    content: url(src/assets/icons/chevron-left-icon.svg);
    vertical-align: middle;
    position: relative;
  }
}

.sideSectionDescription {
  color: rgba(80, 87, 107, 1);
  padding-top: 8px;
  padding-bottom: 28px;
  @media (max-width: 600px) {
    padding-bottom: 10px;
  }
}

.cardListElement {
  padding: 0 0 12px 24px;
}

.benefitsList {
  padding-left: 20px;
  padding-top: 20px;
  list-style-image: url('../../../assets/icons/dotForList.png');
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (max-width: 1180px) {
    gap: 15px;
  }
  @media (max-width: 768px) {
    display: none;
  }
  @media (max-height: 731px) {
    padding-top: 0;
    gap: 2px;
  }
  @media (max-height: 679px) {
    display: none;
  }
}

.listitem {
  color: $brand-black;
}

.buttonsBlock {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  & button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: none;
  }
  @media (max-width: 768px) {
    padding-top: 0;
  }
}

.formBlock {
  padding: 72px 230px 32px 204px;
  @media (max-width: 1200px) {
    padding: 72px 150px 32px 160px;
  }
  @media (max-width: 1050px) {
    padding: 30px 50px 32px 50px;
  }
  @media (max-width: 600px) {
    padding: 15px 15px;
  }
}
