.codeEnterBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
}

.codeForm {
  flex: 2;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  width: 100%;
  @media (max-width: 1068px) {
    max-width: 900px;
    padding-top: 15px;
    gap: 15px;
  }
  @media (max-width: 768px) {
    max-width: 700px;
    padding-top: 15px;
    gap: 15px;
  }
}

.codeOtpInput {
  gap: 5px;
  input {
    font-family: 'Metropolis', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    border-image: none;
    border-bottom: 2px solid transparent;
    @media (max-width: 1060px) {
      font-size: 16px;
      line-height: 30px;
    }
    &:focus {
      border-bottom: 2px solid rgba(20, 21, 26, 1);
    }
    &:focus ~ fieldset {
      border: none;
    }
  }
  fieldset {
    border: none;
    border-bottom: 2px solid rgba(171, 178, 194, 1);
    border-radius: 0px;
  }
}

.formButton {
  width: 100%;
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.errorMessage {
  color: red;
  margin-bottom: auto;
  margin-top: 10px;
}
