.codeEnterBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
}

.codeForm {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  width: 100%;
  @media (max-width: 600px) {
    gap: 40px;
  }
}

.codeOtpInput {
  input {
    font-family: 'Metropolis', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    border-image: none;
    border-bottom: 2px solid transparent;
    &:focus {
      border-bottom: 2px solid rgba(20, 21, 26, 1);
    }
    &:focus ~ fieldset {
      border: none;
    }
  }
  fieldset {
    border: none;
    border-bottom: 2px solid rgba(171, 178, 194, 1);
    border-radius: 0px;
  }
}

.codeEnterContinueButton {
  border: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(20, 21, 26, 1);
  border-radius: 16px;
  padding: 15px;
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  &:disabled{
    color: rgba(171, 178, 194, 1);
    background-color: rgba(225, 229, 237, 1);
    cursor: auto;
  }
}

.errorMessage{
  padding: 10px;
  color: red;
  background-color: #f387877a;
  border-radius: 8px;
  margin-bottom: auto;
  margin-top: 10px;
  &::before{
    content: '⚠ ';
  }
}

