.Header3XL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.Header2XL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.HeaderXL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.HeaderL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.HeaderM {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.HeaderS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.HeaderXS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.ParagraphXL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.ParagraphL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.ParagraphM {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.ParagraphS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.ParagraphXS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}

.LabelXL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.LabelL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.LabelM {
  font-family: 'Metropolis', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.LabelS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.LabelXS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
}
