// font-family: 'Metropolis', sans-serif;
// color: #000000;

.Header3XL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.Header2XL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.HeaderXL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.HeaderL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.HeaderM {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.HeaderS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.Header3XS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.ParagraphXL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.ParagraphL {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.ParagraphM {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.ParagraphS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.ParagraphXS {
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}

// *{
//     font-family: 'Metropolis', sans-serif;
//     color: #000000;
// }

// .typography--variant-Header-3XL{
//     font-weight: 600;
//     size: 40px;
//     line-height: 48px;
// }

// .typography--variant-Header-2XL{
//     font-weight: 600;
//     size: 36px;
//     line-height: 44px;
// }

// .typography--variant-Header-XL{
//     font-weight: 600;
//     size: 32px;
//     line-height: 40px;
// }

// .typography--variant-Header-L{
//     font-weight: 600;
//     size: 28px;
//     line-height: 36px;
// }

// .typography--variant-Header-M{
//     font-weight: 600;
//     size: 24px;
//     line-height: 32px;
// }

// .typography--variant-Header-S{
//     font-weight: 600;
//     size: 20px;
//     line-height: 28px;
// }

// .typography--variant-Header-3XS{
//     font-weight: 600;
//     size: 18px;
//     line-height: 24px;
// }

// .typography--variant-Paragraph-XL{
//     font-weight: 400;
//     size: 18px;
//     line-height: 24px;
// }

// .typography--variant-Paragraph-L{
//     font-weight: 400;
//     size: 16px;
//     line-height: 24px;
// }

// .typography--variant-Paragraph-M{
//     font-weight: 400;
//     size: 14px;
//     line-height: 20px;
// }

// .typography--variant-Paragraph-S{
//     font-weight: 400;
//     size: 12px;
//     line-height: 16px;
// }

// .typography--variant-Paragraph-XS{
//     font-weight: 400;
//     size: 11px;
//     line-height: 12px
// }
