@import '../../../App';

.mainFooter {
  min-width: 414px;
  width: 100%;
  height: auto;
  background: $light-gray;
  padding-left: 20%;
  padding-right: 19%;
  overflow-x: hidden;
}

.headPartFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 24px;
}

.logo {
  display: flex;
  gap: 20px;
}

.logoName {
  padding-top: 16px;
}

.platforms {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

hr.hrStyle {
  border: 0;
  height: 1px;
  background: $medium-gray;
  color: $medium-gray;
}

.footPartFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 36px;
  overflow-x: hidden;
}

.footerIcons {
  display: flex;
  gap: 24px;
}

.footerLastText {
  margin-top: 4px;
  display: flex;
  gap: 6.5vh;
  font-weight: 600;
  margin-bottom: 35px;
}

a {
  color: $brand-black;
  cursor: pointer;
}

@media screen and (max-width: 979px) {
  .footPartFooter {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 755px) {
  .headPartFooter {
    display: flex;
    justify-content: center;
  }
}