.successBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 60px;
  min-width: 378px;
  @media (max-width: 840px) {
    min-width: 300px;
  }
  @media (max-width: 840px) {
    min-width: none;
  }
}
