$black: #000000;
$brand-black: #14151A;
$darkest-gray: #323642;
$darker-gray: #50576B;
$medium-gray-2: #ABB2C2;
$medium-gray: #E1E5ED;
$blue-gray: #EBF1F4;
$light-gray: #EDEFF5;
$lighter-gray: #F5F6FA;
$lightest-gray: #FAFAFC;
$white: #FFFFFF;
$brand-blue: #4CC3FF;

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}
