@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}
