.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("../../assets/images/milkyway.jpg");
}
form{
  width: 33%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
}
.formTitle{
  margin-top: 20px;
}
.titleContainer{
  display: flex;
  justify-content: center;
}
button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}