@import '../../../App.scss';

.formBlock {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.mainBlockContainer {
  padding: 0 200px 0 47px;
  @media (max-width: 700px) {
    padding: 0 47px;
  }
}

.dropDownPOS {
  padding-top: 85px;
}

.downloadTitle {
  padding-top: 70px;
}

.paragraph {
  padding-top: 24px;
  color: $darker-gray;
}

.buttonStyles {
  margin-top: 24px;
  height: 56px;
  font-family: Metropolis, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  @media (max-width: 770px) {
    width: 100%;
  }
}

.paragraphNeed {
  margin-top: 48px;
  color: $brand-black;
  cursor: pointer;
  text-decoration-line: underline;
}

.buttonsBlock {
  width: 100%;
  padding: 210px 200px 0 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  & button {
    flex: 1;
  }

  @media (max-width: 1000px) {
    padding: 10px 200px 0 47px;
  }
  @media (max-width: 900px) {
    padding: 10px 100px 0 47px;
  }
}

.buttonBack {
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border-width: 1.5px;
}

.buttonFinished {
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}