.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding-right: 230px;
  height: 100%;
  @media (max-width: 1200px) {
    padding-right: 150px;
  }
  @media (max-width: 920px) {
    padding-right: 80px;
  }
  @media (max-width: 600px) {
    padding-right: 0px;
  }
}

.subTittle {
  color: rgba(80, 87, 107, 1);
  max-width: 300px;
}

.formBlock {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}

.businessInputBox {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 0px;
  & label {
    position: absolute;
    top: 35px;
    color: rgba(80, 87, 107, 1);
    font-family: 'Metropolis', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: text;
    transition: 0.3s;
  }
}

.selectsGroup {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-top: 70px;
}

.checkBoxBlock {
  width: 100%;
  display: flex;
  gap: 16px;
  padding-top: 60px;
  color: rgba(50, 54, 66, 1);
}

.buttonsBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-top: 30px;
  & button {
    flex: 1;
  }
}

.buttonBack {
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-width: 1.5px;
}

.buttonFinished {
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: 1.5px solid rgba(225, 229, 237, 1);
}

.selectError {
  top: 0;
}

.checkBoxError {
  display: none;
}
