@import '../../../App.scss';

.mainCard {
  width: 384px;
  border: 2px solid $medium-gray;
  border-radius: 24px;
  margin-top: 10px;
}

.imgCard {
  padding: 2px;
  width: 100%;
  height: auto;
  border-radius: 24px;
  image-rendering: high-quality;
}

.cardName {
  color: $brand-black;
  display: flex;
  justify-content: center;
}

.cardJobTitle {
  color: $brand-black;
  text-align: center;
  font-weight: 400;
}

.cardEmail {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  gap: 3px;
  color: $brand-black;
  font-family: Metropolis, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 10px;
}